.Menu-pager-div {
  width: 98%;
}
.Menu-pager-div ul {
  list-style: none; display: inline;
}
.Menu-pager-div ul  li a {
  text-decoration: none;
}
.Menu-pager-div ul li:first-child {
  float: left; padding-left: 20px;
}
.Menu-pager-div ul li:last-child {
  float: right; padding-right: 20px;
}
